.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000;
    color: #fff;
    padding: 60px;
    min-height: 50vh; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
    transform: translateY(50px); 
  }
  
  .footer-container.show {
    opacity: 1; 
    transform: translateY(0); 
  }
  
  .footer-left {
    max-width: 60%; 
  }
  
  .footer-left h1 {
    font-size: 3.5em; 
    line-height: 1.1;
    margin-bottom: 30px;
  }
  
  .signup-button {
    background-color: #18A04D;
    border: none;
    color: white;
    padding: 18px 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease; 
  }
  
  .signup-button:hover {
    background-color: #15a040; 
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    margin-right: -1580px;
    align-items: flex-end;
    max-width: 30%; 
  }
  
  .footer-right .connect, 
  .footer-right .contact {
    margin-bottom: 30px;
  }
  
  .footer-right h3 {
    font-size: 1.5em; 
    margin-bottom: 15px;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-right ul li {
    margin-bottom: 12px;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease; 
  }
  
  .footer-right ul li:hover {
    color: #18A04D; 
  }
  
  .footer-bottom {
    text-align: right;
    width: 100%;
    margin-top: 80px;
    margin-top: 400px;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #bbb;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-left, .footer-right {
      max-width: 100%;
      margin-bottom: 40px;
    }
  
    .footer-right {
      align-items: center;
    }
  }
  